* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #eef7ff;
  padding: 20px;
  color: #355c7d;
}

/* NAV */
.navbar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.nav-btn {
  padding: 10px 16px;
  background: #b7d9ff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.nav-btn:hover {
  background: #9dcbff;
  transform: scale(1.05);
}

.nav-btn.active {
  background: #72b8ff;
  color: white;
}

/* PAGE */
.page {
  display: none;
  animation: fade 0.4s ease;
}

.page.active {
  display: block;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* GALERI */
.galeri-container {
  display: flex;
  gap: 15px;
}

.galeri-container img {
  width: 150px;
  border-radius: 16px;
  box-shadow: 0 4px 10px #9ac7ea;
}

/* LIST STYLE */
.list {
  margin-top: 15px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.8;
}
